body{
    margin:0;
    overflow-x:hidden;
    }
    
    .footer{
    background:#283646;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }

    .dark .footer{
        background:#1E1E1E;
        padding:30px 0px;
        font-family: 'Play', sans-serif;
        text-align:center;
        }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:1em;
    }

    .text-logo{
        color: #14BDCB;
        width:100%;
        margin:0.5% 0%;
        padding:0.6% 0%;
        font-family: "Raleway", sans-serif;
        font-size:2.2em;
        text-align: center;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }

    .footer .Copyright{
        width:100%;
        margin:1% 0%;
        padding:5% 0% 0% 0%;
        color:gray;
        font-size:0.8em;
        text-align: center;
        }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:15px 0px;
    text-align:center;

    
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }